{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block meta %}
    {% endblock meta %}
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="shortcut icon" type="image/JPG" href="{% static 'home/pic/logo.JPG' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body style="background-image: url(https://secretcompass.com/wp-content/uploads/2019/04/a-walk-on-lebanon-cover.jpg);"> <!-- Background taken from secretcompass.com-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-footer-bg shadow-lg">
        <div class="container">
            <a class="navbar-brand bg-dark" id="webappname" href="#">Le profile de Matthew</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer navbar-footer-bg align-items-center text-light justify-content-center shadow-lg d-flex">
        <p> Droits d'auteur : Matthew T.P. Solomon </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/script.js' %}"></script>
</body>
</html>